name: Android Build & Release

on:
  push:
    branches:
      - main # Or your default branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        lfs: true # <-- AICI ESTE SOLUTIA

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Create Release and Upload APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "app/build/outputs/apk/release/app-release-unsigned.apk"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: "v1.0.0-${{ github.run_number }}" # Creates a unique tag for each build
        name: "Release ${{ github.run_number }}"
        body: "Automated release of unsigned APK for testing."
        allowUpdates: true
