
name: Build Debug APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Necesar pentru a crea release-uri

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload APK as Release Artifact
      uses: ncipollo/release-action@v1
      with:
        artifacts: "app/build/outputs/apk/debug/app-debug.apk"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: "debug-${{ github.run_number }}"
        name: "Debug Build ${{ github.run_number }}"
        body: "This is a debug build. Download and install the app-debug.apk file."
        allowUpdates: true
