
name: Build and Release APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Essential for creating releases

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "app/build/outputs/apk/release/app-release-unsigned.apk"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: "v2.0.${{ github.run_number }}"
        name: "Water Reminder v2.0.${{ github.run_number }}"
        body: "Automated release of the APK."
        allowUpdates: true
